<div class="todo">
    <div class="container">
        <div class="todo__header">ToDo App</div>

        <form (submit)="addTodo()">
            <input 
            type="text"
            name="inputTodo"
            placeholder="Enter task:"
            class="todo__input"
            [(ngModel)]="inputTodo"
            >
            <input type="submit" value="+" class="todo__submit">
        </form>

        <div class="todo__tasks" *ngFor="let todo of todos; let i = index;">
            <div class="todo__id" #id>{{i + 1}}</div>
            <div class="todo__content {{(todo.completed ? 'todo__content-done' : '')}}" (click)="toggleDone(i)">{{todo.content}}</div>
            <button class="todo__button" (click)="deleteTodo(i)">X</button>
        </div>
    </div>
</div>