<div class="title">Reactive Form</div>
<div class="container">
    
    <form  [formGroup]="profileForm" >
        <ng-container formArrayName="formList">
            <div *ngFor="let item of getCharValuesFormControls().controls; let i = index" class="form">
                <ng-container [formGroupName]="i">
                    <div class="form__inputs">
                        <div class="form__block">
                            <input type="text" placeholder="First Name" formControlName="firstName">
                            <input type="text" placeholder="Last Name" formControlName="lastName">
                        </div>
                
                        <div class="form__block">
                            <input type="text" placeholder="Email" formControlName="email" email>
                            <input type="text" placeholder="Phone" formControlName="phoneNumber">
                        </div>
                
                        <div class="form__block">
                            <input type="text" placeholder="Position" formControlName="position">
                            <input type="text" placeholder="Company" formControlName="company">
                        </div>
                    </div>
    
                    <button class="form__btn" (click)="removeValue(i)">Remove</button>
                </ng-container>
            </div>
        </ng-container>
    </form>
    <br>
    <button class="form__btn-plus" (click)="addRow()">+</button>
    <button class="form__btn" (click)="check()">check</button>
    <button class="form__btn {{(!profileForm.valid ? 'form__btn-dis' : '')}}"
            (click)="onSubmit()"
            [disabled]="!profileForm.valid">
            Submit
    </button>

</div>
